/* Element Chalk Variables */
@import './_variables';


/* 自定义部分开始 */
$--color-primary: $color-blue;
$--color-text-primary: $color-text;
$--color-text-regular: $color-text-light;
$--color-text-secondary: $color-text-lighter;
$--color-text-placeholder: $color-text-lightest;
$--border-color-base: $color-grey;
$--border-color-light: $color-grey;
$--border-color-lighter: $color-grey-light;
$--border-color-extra-light: $color-grey-light;
$--color-warning: $color-orange;
$--color-danger: $color-red;
$--color-success: $color-green;
/* 自定义部分结束 */


// element主题中会因未提前定义下面变量出现 warning
$B: null;
$E: null;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";
